#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

  font-family: "Cascadia Mono", monospace;
}

.color-list {
  display: flex;
}

.color-item {
  font-size: 1vw;
  outline: 0.2vw solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1vw;
  width: 1vw;
  max-height: 1vw;
  height: 1vw;

  margin: 1vw;
  padding: 3vw;
  border-radius: 1vw;

  transition: all 0.2s ease-in-out;
}

.color-item:hover {
  transform: scale(1.1);
}

.color-item:focus {
  outline: 0.2vw solid white;
}

.color-item.dark-text {
  color: black;
}